@font-face {
  font-family: Georama;
  src: url("/Assets/Font/Georama-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: Khyay;
  src: url("/Assets/Font/Khyay-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  margin-top: -19px;
  display: flex;
  background-color: rgb(00, 53, 29);
  justify-content: space-evenly;
  font-size: 1em;
  font-weight: 900;
  color: white;
  padding-top: 17px;
  padding-bottom: 17px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
.TELEPON {
  color: #d4fbb7;
  margin-top: 30px;
  margin-right: 150px;
}
h3 {
  color: #ffffff;
}
.EMAIL {
  color: #d4fbb7;
  margin-top: 30px;
  margin-right: 200px;
}
#tkname {
  margin-top: 40px;
  margin-right: 178px;
}
#logoTK {
  margin-top: 10px;
  margin-left: 60px;
}
#selected {
  color: #4f7942;
}
.logoNU {
  height: 4%;
  width: 4%;
}
.namaTK {
  margin-top: 200px;
  margin-right: 130px;
}
.garisnav {
  padding: 3px;
  background-color: #81bc55;
  display: grid;
}
.nav {
  background-color: #d4fbb7;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.nav a {
  color: rgb(0, 0, 0);
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
.nav a:hover {
  color: #81bc55;
}
.hallway {
  width: 30%;
  height: 30%;
  object-fit: contain;
}
.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 98.72vw;
}
.garis-kegiatan {
  margin-top: -19px;
  display: flex;
  background-color: #d4fbb7;
  justify-content: space-evenly;
  font-size: 1em;
  font-weight: 900;
  color: white;
  padding-top: 17px;
  padding-bottom: 17px;
}
.tulisan-kegiatan {
  color: #4f7942;
  margin-top: 12px;
}
.underscore {
  display: block;
  width: 60%;
  height: 5px;
  background-color: #81bc55;
  margin: -5px auto 0;
  border-radius: 3px;
}

.gallery-section {
  padding: 40px;
  width: 100%;
  overflow: hidden;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.gallery-kanan {
  display: flex;
  flex-direction: row;
}
.caption-top {
  position: absolute;
  background-color: #81bc55;
  width: 380px;
  height: 10px;
  z-index: 2;
}
.caption-bottom {
  position: absolute;
  background-color: #d4fbb7;
  width: 380px;
  height: 70px;
  border-radius: 0 0 10px 0;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.caption-bottom h3 {
  color: #4f7942;
  font-family: Khyay;
  padding: 13px;
  font-size: 15;
  font-weight: 400;
}
.gallery-item {
  margin: 10px;
  padding: 10px;
  width: 430px;
}
.gallery-item img {
  width: 430px;
  height: 300px;
  margin-top: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.artikel {
  font-family: Khyay;
  font-size: 10px;
  margin-bottom: 10px;
}
.date {
  color: #8a9a5b;
}
.separator {
  margin: 0 5px;
  color: #d0c0f0;
}
.gallery-item h3 {
  margin: 15px 0;
}

.footer {
  display: flex;
  background-color: #005329;
  justify-content: space-evenly;
  font-size: 1em;
  padding: 20px;
  font-weight: 900;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}
.hubungiKami {
  font-size: large;
}
.info {
  font-size: medium;
}
.cpyright {
  background-color: #005329;
  padding: 5px 15px;
  font-size: 10px;
  font-weight: bold;
  color: white;
}
.infoFooter {
  margin-right: 20px;
}
#LogoFooter {
  margin-top: 2em;
  margin-left: 3em;
  margin-bottom: 2em;
}
#namadaninfo {
  margin-top: 3em;
}
.footnote {
  margin-left: 2em;
  margin-right: 3em;
}

.header,
.nav,
.namatk {
  font-family: Georama;
}

.garis-kegiatan,
.cpyright,
.infoFooter,
.motto {
  font-family: Khyay;
}

@media (max-width: 768px) {
  /* Header adjustments */
  .header {
    align-items: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%; /* Ensure it spans full width */
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  }
  #logoTK {
    padding-top: 0.3em;
    height: 5em;
  }
  .header img {
    width: 50px;
    height: auto;
  }
  #tkname,
  .TELEPON,
  .EMAIL,
  .info {
    margin: 5px 0;
    font-size: 0.8em;
    text-align: center; /* Align text */
  }
  .nav {
    padding: 10px 0;
    width: 100%;
    justify-content: space-around;
  }
  .nav a {
    margin: 0 10px;
    font-size: 0.8em;
  }

  .hallway {
    width: 100%; /* Adjusted to fit smaller screens */
  }

  /* Gallery adjustments */
  .gallery {
    flex-direction: row;
    align-items: center;
  }
  .gallery-item {
    width: 90%;
    margin: 10px auto;
  }
  .gallery-item img {
    width: 100%;
    height: auto;
  }
  .caption-top,
  .caption-bottom {
    width: 55%;
  }
  /* Footer adjustments */
  .footer {
    display: flex;
    font-size: 0.8em;
  }
  .infoFooter {
    text-align: justify;
    margin-left: 2em;
  }
  #info-bawah {
    text-align: left;
  }
  .footnote {
    margin-right: 0.2em;
    margin-top: -0.6em;
  }
  #logoFooter {
    width: 50px;
    height: auto;
  }
  .infoFooter,
  .footnote {
    font-size: 0.8em;
  }
  .cpyright {
    font-size: 0.1em;
  }
}

@media (max-width: 480px) {
  /* Additional adjustments for very small screens */
  .header {
    font-size: 0.9em;
  }
  .nav a {
    font-size: 12px;
    margin: 3px 10px;
  }
  .footer {
    font-size: 0.9em;
  }
  .gallery-item h3 {
    font-size: 14px;
  }
}
